body
{
    background: #36393f;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    width: 400px;
}

.content
{
    background: #2f3136;
    width: 100%;
    height: 100%;
    padding: 5%;
    box-shadow: 0px 0px 10px black;
}

.text-capsule
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #36393f;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px inset black;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
}