.nav
{
    box-shadow: 0px 0px 10px black;
    background: #202225;
    position: sticky;
    top: 0px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.nav ul
{
    display: flex;
    justify-content: space-around;
}

.nav ul li
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
    list-style: none;
    width: 70px;
    height: 70px;
}

/* Hover and normal state */

.nav ul li a
{
    border-radius: 50px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    width: 70px;
    height: 70px;
}

.nav ul li a:hover
{
    background: #2f3136;
}

.nav ul li a .icon
{
    position: relative;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

.nav ul li:hover a .icon
{
    color: #2f3136;
    transform: translateY(12px);
}

.nav ul li a .text
{
    border-radius: 50px;
    position: absolute;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.02em;
    transition: 0.5s;
    color: white;
    opacity: 0;
    transform: translateY(12px);
}

.nav ul li:hover a .text
{
    opacity: 1;
    transform: translateY(-2px);
}

/* active state */

.nav ul li.active a
{
    background: #2f3136;
}

.nav ul li.active a .icon
{
    color: #2f3136;
}

.nav ul li.active a .text
{
    opacity: 1;
    transform: translateY(-2px);
}